{% extends "backend.html" %}
{% load static %}
{% block contentPage %}
  <div >
    <div class = "backEmpty"> </div>
    <div class="cardBody w-100">
      <div class="row "> <h4 class="cardHeader purple">Dogs List</h4></div>
      <div class = "back">
        <table class="table font-weight-bold ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Breed</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            {% for dog in dogs %}
            <tr>
              <td> {{dog.name}} </td>
              <td> {{dog.age}} </td>
              <td> {{dog.breed}} </td>
              <td> {{dog.owner}} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  
        <!-- just to have a similar height with the designs provided-->
        <div class = "back"></div> 
      </div>     
    </div>
 </div>
{% endblock %}
